.container {
  padding: 25px 15px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3px;
  background-color: rgb(255, 255, 255);
  min-height: flex;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}



.right img {
  width: 200px;
}
